/* change navbar-brand color */
.navbar a.navbar-brand {
  color: white;
  background-color: teal;
}

/*  change navbar li colors, also active one but not disabled one */
.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: teal;
}

.navbarSupportedContent{
  float: right;
}

body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    line-height: 150%;
    color: #333;
    background: lightgrey;
  }
  
  head {
    background: white;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: teal;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    border-bottom-style: double;
    border-bottom-color: teal;
  }
  
  
  .container {
    margin-top: 20px;
    background: white;
    margin-bottom: 20px;
  }
  
  #main-graph {
    float: left;
    width: 60%;
    height: 60%;
  }

.visualizations{
  width: 100%;
  height: 100%;
}

.row{
text-align: left;
}